@font-face {
  font-family: 'EudoxusSans-Bold';
  src: url('../fonts/Eudoxus-Sans-font/EudoxusSans-Bold.ttf');
}
@font-face {
  font-family: 'EudoxusSans-ExtraBold';
  src: url('../fonts/Eudoxus-Sans-font/EudoxusSans-ExtraBold.ttf');
}
@font-face {
  font-family: 'EudoxusSans-ExtraLight';
  src: url('../fonts/Eudoxus-Sans-font/EudoxusSans-ExtraLight.ttf');
}
@font-face {
  font-family: 'EudoxusSans-Light';
  src: url('../fonts/Eudoxus-Sans-font/EudoxusSans-Light.ttf');
}
@font-face {
  font-family: 'EudoxusSans-Medium.ttf';
  src: url('../fonts/Eudoxus-Sans-font/EudoxusSans-Medium.ttf');
}
@font-face {
  font-family: 'EudoxusSans-Regular';
  src: url('../fonts/Eudoxus-Sans-font/EudoxusSans-Regular.ttf');
}
/* body{
  font-family: 'EudoxusSans-Regular';
} */

/* navbar  */
.navbar-light .navbar-nav .nav-link {
  font-family: 'EudoxusSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1F3247;
}
.navbar{
  padding: 30px 0px;
}


/* section hero  */
section.hero{
  background: url('../images/img-hero.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  padding-bottom: 35px;
}
.hero #counterdown {
  font-family: 'EudoxusSans-ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 180%;
  color: #1F3247;
  margin-bottom: 20px;
}

/* section howitworks */
section.howitworks {
  background: linear-gradient(180deg, #87B5DE -89.17%, rgba(135, 181, 222, 0) 96.56%);
}
.video-container{
  padding: 120px 0px;
}
.howitworks iframe{
  border-radius: 20px;
}
/* global  */
/* header  */
h1{
  font-family: 'EudoxusSans-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 140%;
  color: #1F3247;
  margin-bottom: 10px;
}
h2{
  font-family: 'EudoxusSans-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 40px;
  color: #1F3247;
}

/* body  */
.p-24{
  font-family: 'EudoxusSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 180%;
  color: #717C89;
  max-width: 410px;
}
.p-14{
  font-family: 'EudoxusSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #717C89;
  margin-top: 20px;
}

/* button  */
.btn-navbar{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%);
  border: 1.5px solid #FFFFFF;
  box-sizing: border-box;
  /* Blue */
  box-shadow: 0px 10px 30px rgba(38, 98, 153, 0.25);
  border-radius: 10px;
  padding: 20px 40px;
  margin-right: 30px;
  color: #1F3247;
}
.btn-primary{
  background: linear-gradient(256.03deg, #5FABE3 -4.5%, #4988B6 112.94%);
  /* Blue */
  box-shadow: 0px 10px 30px rgba(38, 98, 153, 0.25);
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
}
.btn{
  font-family: 'EudoxusSans-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}


@media (min-width: 576px) { 
  
}


@media (min-width: 768px) {
  
}


@media (min-width: 992px) {
  
}


@media (min-width: 1200px) {
  
}


@media (min-width: 1400px) {
  .container{
    max-width: 1200px;
  }
}